/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

#ace-editor {
  width: 100vw;
  height: 100vh;
  z-index: 1050;
  position: fixed !important;
  top: 0;
  left: 0;
  overflow: hidden;
  font-size: 20px;
}
